.div {
  display: flex;
  flex-direction: column;
  gap: var(--s-5);
}

.conditions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--s-2);
}

.hourly {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: var(--s-4);
}

.daily {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.hourly,
.daily {
  padding: var(--s-2);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: var(--s-3);
}
