.div {
  display: flex;
  flex-direction: column;
  gap: var(--s-5);
}

.hourly {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: var(--s-4);
}

.daily {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.div > aside {
  padding: var(--s-2);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: var(--s-3);
}
