nav {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-6) var(--s-5);
}

svg {
  color: white;
  height: var(--s-5);
  width: var(--s-5);
}
